@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Kanit:wght@800&display=swap");

/* variables */
:root {
  --text-white: #ffffff;
  --text-gray: #78909c;
  --text-blue: #53b5ff;
  --bgc-navy: #25395a;
  --bgc-denim: #171631;
}

/* global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
}

html {
  height: 100vh;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  background-image: radial-gradient(
    circle at 0 2%,
    var(--bgc-navy),
    var(--bgc-denim) 124%
  );
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 75%;
  height: 100%;
  animation: bobbing-animation 5s ease-in-out infinite;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.left-section,
.right-section {
  text-align: center;
}

.heading {
  color: var(--text-white);
  font-weight: 800;
  font-size: 6rem;
  font-family: "Kanit";
}

.description {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-gray);
}

.buttons-wrapper {
  gap: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button {
  cursor: pointer;
  color: var(--text-gray);
}

.button svg {
  height: 48px;
  width: 48px;
  opacity: 0.75;
  transition: opacity 0.25s ease-in;
}

.button svg:hover {
  opacity: 1;
  transition: opacity;
  animation: pulse-animation 0.5s ease-in-out infinite alternate;
}

/* animations */
@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.25);
  }
}

@keyframes bobbing-animation {
  0%,
  100% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }
}

/* Mobile devices */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container .left-section {
    order: 2;
    text-align: center;
    margin-bottom: 3rem;
  }

  .container .right-section {
    order: 1;
  }

  .left-section .heading {
    font-size: 4rem;
    line-height: 6rem;
  }

  .left-section .description {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .left-section .buttons-wrapper {
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding-top: 2rem;
  }

  .button svg {
    height: 36px;
    width: 36px;
  }

  .right-section img {
    max-width: 100%;
    height: auto;
  }
}

/* Tablet devices */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .container .left-section {
    flex: 8;
    text-align: center;
    margin-right: 2rem;
  }

  .container .right-section {
    flex: 6;
  }

  .left-section .heading {
    font-size: 5rem;
    line-height: 8rem;
  }

  .left-section .description {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .left-section .buttons-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding-top: 2rem;
  }

  .button svg {
    height: 42px;
    width: 42px;
  }

  .right-section img {
    max-width: 100%;
    height: auto;
  }
}

/* Larger devices */
@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .container .left-section {
    flex: 6;
    text-align: left;
    margin-right: 2rem;
  }

  .container .right-section {
    flex: 8;
  }

  .left-section .heading {
    font-size: 6rem;
    line-height: 9rem;
  }

  .left-section .description {
    font-size: 2rem;
    line-height: 3rem;
  }

  .left-section .buttons-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3.75rem;
    padding-top: 3rem;
  }

  .button svg {
    height: 48px;
    width: 48px;
  }

  .right-section img {
    max-width: 560px;
    height: 520px;
  }
}
